{
  "extends": ["airbnb-base"],
  "plugins": [
    "html"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "quotes": "off",
    "no-mixed-operators": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off"
  },
  "globals": {
    "CryptoJS": "readonly",
    "getDice": "readonly",
    "checkR": "readonly"
  }
}
